@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&family=Sedgwick+Ave+Display&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/page_bg.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
}

.sedgwick-ave {
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .btn {
    padding: 1.5rem 2rem;
    font-size: 4rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 0 16rem 0;
  }

  .logo {
    width: 20rem;
    margin-bottom: 5rem;
  }

  .desc {
    font-size: 4rem;
    text-align: center;
    color: #ffffff;
    line-height: 5.5rem;
  }

  .get-started {
    margin-top: 5rem;
    background-color: #662ab2;
    color: #ffffff;
    border-radius: .3rem;
  }