@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/page_bg.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
}

.sedgwick-ave { 
  font-family: "Sedgwick Ave Display", cursive;
  font-weight: 400;
  font-style: normal;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 6rem;
}

label {
  color: #ffffff;
  font-size: 3rem;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 4rem;
  font-size: 3rem;
  margin-left: 2rem;
}

.basic {
  color: #ffffff;
}

.submit {
  width: 7rem;
  height: 7rem;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 50%;
  border: none;position: relative;
}

.submit::before {
  content: "";
  position: absolute;
  width: 8rem;
  height: 8rem;
  background-color: transparent;
  border-radius: 50%;
  border: 8px solid #ffffff;
  opacity: .3;
  left: -14%;
  top: -14%;
}

.submit::after {
  content: "";
  position: absolute;
  width: 8rem;
  height: 8rem;
  background-color: transparent;
  border-radius: 50%;
  border: 8px solid #ffffff;
  border-left: 8px solid transparent;
  border-bottom: 8px solid transparent;
  rotate: 45deg;
  left: -14%;
  top: -14%;
}

.fa-chevron-right {
  font-size: 2.3rem;
  color: #01041d;
}